html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
#sidebar {
  width: 250px;
  height: 100%;
  max-width: 100%;
  float: left;
  -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
#map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
    box-shadow: none;
}
#sidebar-hide-btn {
  margin-top: -2px;
}
#aboutTabsContent {
  padding-top: 10px;
}
.progress-bar-full {
  width: 100%;
}
.white {
  color: #FFFFFF;
}
.feature-row {
  cursor: pointer;
}
.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.sidebar-table {
  position: absolute;
  width: 100%;
  top: 103px;
  bottom: 0px;
  overflow: auto;
}
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
.table {
  margin-bottom: 0px;
}
.good {
    background-color: green;
}
.neutral {
    background-color: yellow;
}
.bad {
    background-color: red;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}

@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  #sidebar {
    display: none;
  }
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
      hyphens: auto;
  }
  .dropdown-menu a i{
    color: #FFFFFF;
  }
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}




#adjustr{
  margin-right: 0px;
  
}



.leaflet-control-command-interior
{
    width: 160px;
    height: 70px;
    display: block;
    padding: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #999;
  border-color: rgba(0,0,0,.4);
    box-shadow: none;
    cursor: auto;
    text-align: center;
    background-color: #FFFFFF;
  color: rgba(0,0,0,.75);
  z-index: 10;
}

.ctrldesc{
  margin-top: 5px;
}

.seldiv{
  margin-top: 5px;
  margin-bottom: 8px;
}

.titletext{
  font-size: 12px;
}

#hrcss{
  border-color: #C9C9C9;
  margin-top: 2px;
  margin-bottom: 5px;
}



#notice{
  position: absolute;
  bottom: 20px;
  left: 10px;
      width: 300px;
    height: 25px;
    display: block;
    padding: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 2px solid;
  border-color: rgba(200,0,0,.8);
    box-shadow: none;
    cursor: auto;
    text-align: center;
    background-color: #FFFFFF;
  color: rgba(200,0,0,.75);
  z-index:100;
  font-size: 12px;
  font-weight: bold;
}

.leaflet-control-mapbox-geocoder-results a {width: 100%; text-align: left;}
.leaflet-control-mapbox-geocoder-results a:hover {width: 100%; text-align: left;}

.leaflet-control-mapbox-geocoder-results {width: 250px;}
.leaflet-control-mapbox-geocoder.active .leaflet-control-mapbox-geocoder-wrap {width: 250px;}




.typeahead,
.tt-query,
.tt-hint {
  width: 250px;
  height: 30px;
  padding: 4px 6px;
  font-size: 12px;
  line-height: 16px;
  border: 2px solid #ccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 250px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 12px;
  line-height: 16px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}


div.label{
  color: #000;
}
